Source: openhim-mediator-mhero
Maintainer: Martin Brocker <martin@jembi.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/jembi/openhim-mediator-mhero


Package: openhim-mediator-mhero
Architecture: amd64
Depends: openhim-core-js
Recommends:
Description: OpenHIM mediator for mHero
 An mHero mediator for data synchronisation.
